openai==1.67.0
requests==2.32.3
pydantic==2.10.6
graphviz==0.20.3
IPython==9.0.2
pytz==2025.1
llama-index==0.12.25
llama-index-llms-openai-like==0.3.4
langchain==0.3.21
langchain-openai==0.3.9
langgraph==0.3.18
langgraph-cli[inmem]==0.1.77
debugpy==1.8.13
autogen-agentchat==0.4.9.2
autogen-ext[openai]==0.4.9.2
semantic-kernel==1.25.0
pyperclip==1.9.0
python-dotenv==1.0.1
langchain-community==0.3.20